:root {
  --light-green: #d4dad1;
  --gray: #f5f5f5;
  --outer-space: #394648;
  --white: #fafafa;
}

* {
  font-family: "Nunito";
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("images/bg-ground-green.jpeg");
  background-size: cover;
  opacity: 0.65; /* Ajuste a opacidade conforme necessário */
  z-index: -1; /* Garante que o pseudo-elemento fique atrás do conteúdo */
}

html{
  font-size: 16px;
  color: var(--outer-space);
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar{
  display: none;
}

header,
main {
  margin: auto;
  padding: 0.5rem 2rem;
  width: 100%;
}

header {
  /*background-color: red;*/
  height: 100px;
  max-width: 600px;
  margin-top: 0;
}

#icons {
  /*background-color: blueviolet;*/
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
}

/*SEARCH BAR*/

input:autofill {
  box-shadow: inset 0 0 0 100px var(--white);
  border: var(--white);
}

.input-wrapper {
  padding: 8px 12px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  border-radius: 30px;
}

#input-pokemon-name {
  background-color: transparent;
  border-color: transparent;
  width: 90%;
  cursor: pointer;
}

input:focus-visible {
  outline: none;
}

::placeholder {
  color: var(--outer-space);
  opacity: 0.75;
}

#lupa{
  cursor: pointer;
}



/*FIM SEARCH BAR*/

main {
  margin-top: 4rem;
  height: 330px;
  max-width: 600px;
}

/*POKEMON NAME AND INDEX NUMBER*/

#titles {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1::first-letter {
  text-transform: capitalize;
}

#index-num {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--gray);
  padding: 5px;
}

#pokemon-name {
  font-size: 2.8rem;
  font-weight: bold;
  color: var(--gray);
}

/*POKEMON TYPE*/

#pokemon-type {
  width: 16rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.type {
  width: 50%;
  height: 100%;
  background-color: #3946482a;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type > p {
  color: var(--gray);
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}

/*SPRITS*/

#container-sprit {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

#container-sprit > img {
  /*background-color: blue;*/
  height: 160px;
  margin-top: 10rem;
  z-index: 2;
}

#container-pokeball {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#img-pokeball {
  height: 150px;
  z-index: -1;
  opacity: 0.3;
}

/*ABOUT THE POKEMÓN */

section{
  height: 100%;
}

#about {
  background-color: var(--gray);
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  margin: 0;
  padding: 10px;
}

#about-pokemon {
  color: var(--outer-space);
  padding: 2rem 2rem;
}

#characteristics > div {
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  align-items: baseline;
}

.traces {
  width: 33%;
  background-color: transparent;
  font-weight: 500;
}

.score {
  font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 8px;
  background: #764242;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  position: relative;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0; /* Oculta o thumb */
  height: 0; /* Oculta o thumb */
  background: transparent; /* Faz o thumb invisível */
}

.slider::-moz-range-thumb {
  width: 0; /* Oculta o thumb */
  height: 0; /* Oculta o thumb */
  background: transparent; /* Faz o thumb invisível */
}

/* Estilo do track do slider */

.slider::-webkit-slider-runnable-track {
  width: 100px;
  height: 8px;
  background: var(--outer-space); /* Cor da barra do slider */
  border-radius: 5px;
  cursor: pointer;
}

.slider::-moz-range-track {
  width: 100%;
  height: 15px;
  background: #4CAF50; /* Cor da barra do slider */
  border-radius: 5px;
  cursor: pointer;
}



/*MEDIA QUERY */

@media (min-width: 600px) {
  html,
  body {
    background-color: #85c3a9 !important;
  }

  body::before {
    opacity: 0;
  }

  #about {
    max-width: 450px;
    margin: auto;
  }
}