:root {
  --light-green: #d4dad1;
  --gray: #f5f5f5;
  --outer-space: #394648;
  --white: #fafafa;
}

* {
  font-family: "Nunito";
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-image: url("images/bg-ground-green.jpeg");
  background-size: cover;
  opacity: 0.65; /* Ajuste a opacidade conforme necessário */
  z-index: -1; /* Garante que o pseudo-elemento fique atrás do conteúdo */
}

html{
  font-size: 16px;
  color: var(--outer-space);
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar{
  display: none;
}

header,
main {
  margin: auto;
  padding: 0.5rem 2rem;
  width: 100%;
}

header {
  /*background-color: red;*/
  height: 100px;
  max-width: 600px;
  margin-top: 0px;
}

#icons {
  /*background-color: blueviolet;*/
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0px;

}

#icon-heart, #icon-left-arrow{
  width: 2.5rem;
}
/*SEARCH BAR*/

input:autofill {
  box-shadow: inset 0 0 0 100px var(--white);
  border: var(--white);
}

.input-wrapper {
  padding: 8px 12px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  border-radius: 30px;
}

#input-pokemon-name {
  background-color: transparent;
  border-color: transparent;
  width: 90%;
  cursor: pointer;
}

input:focus-visible {
  outline: none;
}

::placeholder {
  color: var(--outer-space);
  opacity: 0.75;
}

#lupa{
  cursor: pointer;
}

/*FIM SEARCH BAR*/

main {
  margin-top: 4rem;
  height: 330px;
  max-width: 600px;
}

/*POKEMON NAME AND INDEX NUMBER*/

#titles {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1::first-letter {
  text-transform: capitalize;
}

#index-num {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--gray);
  padding: 5px;
}

#pokemon-name {
  font-size: 2.8rem;
  font-weight: bold;
  color: var(--gray);
}

/*POKEMON TYPE*/

#pokemon-type {
  width: 16rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.type {
  width: 50%;
  height: 100%;
  background-color: #3946482a;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type > p {
  color: var(--gray);
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}

/*SPRITS*/

#container-sprit {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

#container-sprit > img {
  /*background-color: blue;*/
  height: 160px;
  margin-top: 10rem;
  z-index: 2;
}

#container-pokeball {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#img-pokeball {
  height: 150px;
  z-index: -1;
  opacity: 0.3;
}

/*ABOUT THE POKEMÓN */

section{
  height: 100%;
  overflow: hidden;
}

#about {
  background-color: var(--gray);
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  margin: 0;
  padding: 10px;
}

#about-pokemon {
  color: var(--outer-space);
  padding: 2rem 2rem;
}

#characteristics{
  margin-left: 1rem;
}

.characteristics-line{
  /*background-color: red;*/
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.traces {
  /*background-color: blue;*/
  width: 25%;
  font-weight: 500;
}

.score {
  width: 10%;
  /*background-color: green;*/
  font-weight: bold;
  padding: 0px 10px;
}

.slider-container{
  /*background-color: pink;*/
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-bar{
  border-radius: 20px;
  background-color: var(--outer-space);
  height: 30%;
  animation: progress 0.4s ease forwards;
  opacity: 0;
}

.slider-bar.animate {
  animation: progress 0.4s ease forwards;
}

#slider-attack{
  width: 32px;
  opacity: 0;
}

#slider-defense{
  width: 32px;
}

#slider-sp-attack{
  width: 43px;
}

#slider-sp-defense{
  width: 43px;
}

@keyframes progress{
  0%{
    width: 0;
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}


/*MEDIA QUERY */

@media (min-width: 600px) {
  html,
  body {
    background-color: #85c3a9 !important;
  }

  body::before {
    opacity: 0;
  }

  #about {
    max-width: 450px;
    margin: auto;
  }
}